@page
@model LÜCKE3

<h1>Schüler</h1>

<h2>Gesamtliste</h2>

<p>Anzahl der Schüler: LÜCKE9</p>

<ul>
    @foreach(var schueler in Model.Schueler)
    {
        <LÜCKE8>@schueler.Vorname @schueler.Nachname</LÜCKE8>
    }
</ul>

<h2>Schüler mit Durchschnittsnote 1:</h2>

<ul>
    @foreach(var schueler in Model.EinserSchueler)
    {
        <LÜCKE8>@schueler.Vorname @schueler.Nachname</LÜCKE8>
    }
</ul>